.news-page h1 {
    font-size: 1.8rem;
}
.news-view h1.news-title {
    font-size: 1.8rem;
}

.news-content img {
    max-width: 100%;
    /*height: auto;*/
}
.news-grid-sizer,
.news-grid-item {
    width: 33%;
}
.news-grid-item-card {
    margin: 8px;
    /*margin-bottom: 8px;*/
}