@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.woff2") format('woff2'),
    url("../fonts/roboto/Roboto-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
  font-family: 'Fira Sans', 'Roboto', sans-serif;
  font-style: normal;
  background: url("../images/oriental.png");
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgba(247, 249, 252, 1);
}
body > .main {
  flex: 1 0 auto;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: "\e151";
}
a.desc:after {
  content: "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
/* top header */
.top-header {
  padding: 15px 10px;
  background-color: #fff;
}
.top-header .logo-link {
  display: flex;
  flex-flow: row nowrap;
}
.top-header .logo-link .logo-image {
  align-self: baseline;
}
.top-header .logo-link .logo-text {
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #000;
  margin-left: 20px;

}
.box span {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}

.news-view .panel {
  padding: 15px;
}

.news-view .card-panel, .news-content,
.news-view .panel .news-content {
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
  font-family: 'PT Serif', serif;
}
@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
/*** Dropdown navbar ***/
.dropdown-content li > a {
  color: #fff;
  background-color: #01a9f4;
}
.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: rgba(0,0,0,0.1);
}
.dropdown-content li > a:hover {
  background-color: rgba(0,0,0,0.1);
}
nav :focus {
  outline: none;
}

.page-footer{
  background-color: #444;
}
.btn {
  border-radius: 20px;
  border-bottom-right-radius: unset;
}
.news-cards .card-content {
  display: flex;
  flex-flow: column nowrap;
}
.news-cards .card-content a {
  margin-top: auto;
  align-self: flex-end;
}
.news-cards .card-content .card-title {
    font-size: 1.3rem;
    line-height: 23px;
}
.news-cards .card-content a.btn {
    color: rgba(0,0,0,.8);
}
.home-page .news-cards h1, .home-page .useful-sites h1 {
  font-size: 1.8rem;
}
.useful-sites .card .card-body {
  display: flex;
  flex-flow: column nowrap;
}
.useful-sites .card .card-body .u-s-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 10px;
}
.useful-sites .card .card-body .u-s-item .u-s-img {
  flex: 1 1;
}
.useful-sites .card .card-body .u-s-item .u-s-action {
  flex: 2 1;
}
.u-s-item .u-s-action a {
  color: #58595f;
  transition: color .2s;
}
.u-s-item .u-s-action:hover a {
  color: #1d1d1f;
  /*font-size: 20px;*/
}

.card {
  border-radius: 50px;
  border-bottom-right-radius: 0;
  overflow: hidden;
}

nav.primary-nav ul a {
  font-size: 16px;
}

/*** Breadcrumbs ***/
.breadcrumb {
  font-size: 16px;
  color: rgba(0, 0, 0, .6);
}
.breadcrumb:last-child {
  color: rgba(0, 0, 0, .5);
}
.breadcrumb-nav {
  margin-top: 20px;
}
.breadcrumb-nav nav {
  height: 30px;
  line-height: 30px;
  background-color: transparent;
}
.breadcrumb:before {
  content: '\f105';
  color: rgba(0, 0, 0, 0.7);
  vertical-align: top;
  display: inline-block;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.3rem;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}

/** breadcrumbs dan box-shadow ni o'shirish */
.breadcrumb-nav nav {
  box-shadow: none !important;
}

/*** pagination ***/
.pagination li.active {
  background-color: #01a9f4;
}

/*** collection ***/
.collection {
  border-radius: 10px;
}
.collection a.collection-item {
  color: rgba(0,0,0, .7);
}
.collection a.collection-item.active {
  background-color: #01a9f4;
  color: white;
}
.collection a.collection-item:not(.active):hover {
  color: rgba(0,0,0,.8);
  background-color: #ddd;
}

/*** materialbox ***/
#materialbox-overlay {
  background-color: rgba(0,0,0, 0.95);
}

/* telegram */
.telegram-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.telegram-container div {
  margin-right: 10px;
}

/* for news content */
figure.image {
  display: inline-block;
  border: 1px solid gray;
  margin: 0 2px 0 1px;
  background: #f5f2f0;
}

figure.align-left {
  float: left;
}

figure.align-right {
  float: right;
}

figure.image img {
  margin: 8px 8px 0 8px;
}

figure.image figcaption {
  margin: 6px 8px 6px 8px;
  text-align: center;
  color: #546e7a;
}
